.search__input {
    display: flex;
    gap: 16px;
    background-color: var(--neutral-surface);
    border-radius: 8px;
    padding: 12px 16px;
    margin: 80px 0 40px;
}

.input {
    background-color: transparent;
    border: none;
    width: 90%;
    color: var(--neutral-text);
    font-size: 16px;
}

.input::placeholder {
    color: var(--neutral-text);
    font-size: 22px;
}